{% extends "base.html" %}

{% block title %}
In bao cao
{% endblock %}

{% block content %}
<div class="bao-cao">
    <div class="Tieu-de"><b>Báo cáo</b></div>
    <div class="t1"><b>Tên giảng viên:</b> {{ data[0]["ten_giang_vien"] }}</div>
    <div class="t1"><b>Lớp học phần:</b> {{ data[0]["ma_hoc_phan"] }}</div>
    <div class="t1"><b>Giảng viên chuẩn bị bài giảng đầy đủ trước khi lên lớp:</b> {{ data[0]["diem_cau_1"]}}</div>
    <div class="t1"><b>Giảng viên giảng bài rõ ràng và dễ hiểu:</b> {{ data[0]["diem_cau_2"]}}</div>
    <div class="t1"><b>Giảng viên sẵn sàng giải đáp thắc mắc của sinh viên:</b> {{ data[0]["diem_cau_3"]}}</div>
    <div class="t1"><b>Phương pháp giảng dạy của giảng viên giúp sinh viên hiểu bài tốt hơn:</b> {{
        data[0]["diem_cau_4"]}}
    </div>
    <div class="t1"><b>Giảng viên tạo môi trường học tập tích cực và khuyến khích sinh viên tham gia thảo luận:</b> {{
        data[0]["diem_cau_5"]}}
    </div>
    <div class="t1"><b>Điểm đánh giá trung bình:</b> {{ data[0]["diem_trung_binh"] }}</div>
    <div class="link-tinh">
        <a href="{{ url_for('gv.giang_vien')}}"> Quay về</a>
        <a href="{{ url_for('gv.xuat_word', ten_giang_vien=data[0]['ten_giang_vien']) }}">Tải báo cáo Word</a>

    </div>

</div>
{% endblock %}
